---
import { SideBar } from '../layouts/SideBar';
import { MainArea } from '../layouts/MainArea';
import { ChatArea } from '../layouts/ChatArea';
import { Modal } from '../layouts/Modal';
---

<body>
	<MainArea >
		<SideBar client:load />
		<ChatArea client:load />
	</MainArea>
	<Modal client:load />
</body>

<style>

	body {
		margin: 0;
		padding: 0;
	}

	html, body, #root {
		height: 100%;
	}

</style>