---
import { LoginView } from "../layouts/LoginView"
---

<body>
    <LoginView client:load />
</body>

<style>

	body {
		margin: 0;
		padding: 0;
	}

	html, body, #root {
		height: 100%;
	}

</style>