---
import { RegisterView } from "../layouts/RegisterView"
---

<body>
    <RegisterView client:load />
</body>

<style>

	body {
		margin: 0;
		padding: 0;
	}

	html, body, #root {
		height: 100%;
	}

</style>